<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lclgl.dao.CustomerMapper">

    <select id="getCustomers" resultType="Customer">
        select * from customer
    </select>

    <select id="getCustomerById" resultType="Customer">
        select * from customer where cus_id=#{cusId}
    </select>

    <update id="modifyCustomer" parameterType="Customer">
        update customer
        set cus_name=#{cusName}, cus_company=#{cusCompany},
        cus_level=#{cusLevel}, cus_phone=#{cusPhone},
        cus_email=#{cusEmail}, cus_sex=#{cusSex}
        where cus_id=#{cusId}
    </update>

    <delete id="delCustomer" parameterType="int">
        delete from customer where cus_id=#{cusId}
    </delete>

    <insert id="addCustomer" parameterType="Customer">
        insert into customer(cus_name,cus_sex,cus_company,cus_level,cus_phone,cus_email)
        values(#{cusName},#{cusSex},#{cusCompany},#{cusLevel},#{cusPhone},#{cusEmail})
    </insert>

    <select id="getCustomerByCustomerId" resultType="Customer">
        select * from customer where cus_id=#{customerId}
    </select>

</mapper>