<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lclgl.dao.ProInfoMapper">

    <select id="getProById" resultType="ProInfo">
        select * from pro_info where pro_id=#{proId}
    </select>

    <select id="getProsByTeamID" resultType="ProInfo">
        select * from pro_info
        where pro_id in (select pro_id from pro_stage where team_id=#{teamID})
    </select>

</mapper>