<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lclgl.dao.StaffInfoMapper">

    <select id="getStaff" resultType="StaffInfo">
        select * from staff_info where user_id=#{userId}
    </select>

    <select id="getStatusType" resultType="String">
        select status_type from status_level where status_id=#{statusId}
    </select>

    <select id="getManagerByTeam" resultType="StaffInfo">
        select * from staff_info where team_id=#{teamId} and status_id!=106 and status_id!=107
    </select>
    
    <select id="getTeamMembers" resultType="StaffInfo">
        select * from staff_Info
        where user_id!=#{staffId} and team_id=#{teamId}
    </select>

    <select id="getStaffs" resultType="StaffInfo">
        select * from staff_info
    </select>

    <insert id="addStaff" parameterType="StaffInfo">
        insert into
        staff_info(staff_name,staff_sex,staff_phone,staff_qq,staff_email,staff_edu,staff_idnum,staff_naplace,
        staff_nation,staff_birplace,staff_residence,staff_job,staff_birthday,staff_age,status_id,staff_pic)
        values(#{staffName},#{staffSex},#{staffPhone},#{staffQq},#{staffEmail},#{staffEdu},
        #{staffIdnum},#{staffNaplace},#{staffNation},#{staffBirplace},#{staffResidence},
        #{staffJob},#{staffBirthday},#{staffAge},#{statusId},#{staffPic})
    </insert>

    <update id="modifyStaff" parameterType="StaffInfo">
        update staff_info
        set staff_name=#{staffName},staff_sex=#{staffSex},staff_phone=#{staffPhone},staff_qq=#{staffQq},
        staff_email=#{staffEmail},staff_edu=#{staffEdu},staff_idnum=#{staffIdnum},
        staff_naplace=#{staffNaplace},staff_nation=#{staffNation},staff_birplace=#{staffBirplace},
        staff_residence=#{staffResidence},staff_job=#{staffJob},staff_birthday=#{staffBirthday},
        staff_age=#{staffAge},status_id=#{statusId},staff_pic=#{staffPic}
        where user_id=#{userId}
    </update>

    <select id="StaffInfoList" resultType="StaffInfo">
        select * from staff_Info where ( status_id=106 or status_id=107 ) and team_id is null
    </select>

    <select id="showTeamWorkers" resultType="StaffInfo">
        select * from staff_Info where ( status_id=106 or status_id=107 ) and team_id =#{teamId}
    </select>

    <select id="getStatusId" resultType="int">
        select status_id from staff_info where user_id=#{userId}
    </select>

    <select id="ManagerInfoList" resultType="StaffInfo">
        select * from staff_info where status_id=#{statusId}
    </select>

    <select id="AddTeamWorker">
        update staff_info set team_id=#{teamId} where user_id=#{userId}
    </select>

    <select id="getTeamIdbyId" resultType="int">
        select team_id from staff_info where user_id=#{userId}
    </select>

    <select id="deleteteamworkers">
        update staff_info set team_id=null where user_id=#{userId}
    </select>

    <select id="staffModify">
        update staff_info set staff_phone=#{staffPhone},staff_qq=#{staffQQ},staff_email=#{staffEmail} where user_id=#{userId}
    </select>

    <select id="getcurrentProNumById" resultType="int">
        select count(*) from pro_stage where team_id=#{teamId} and stage_condition='未完成'
    </select>

    <select id="getfinishedProNumById" resultType="int">
        select count(*) from pro_stage where team_id=#{teamId} and stage_condition='已完成'
    </select>

    <update id="addTeamToManager">
        update staff_info
        set team_id=(select team_id from team order by team_id desc limit 1)
        where user_id=#{managerId}
    </update>

    <select id="getstaffNum" resultType="int">
        select count(*) from staff_info
    </select>

    <select id="getstaffNumByStatus" resultType="int">
        select count(*) from staff_info where status_id=#{staffType}
    </select>

</mapper>