<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lclgl.dao.StaffInfoMapper">

    <select id="getStaff" resultType="StaffInfo">
        select * from staff_info where user_id=#{userId}
    </select>

    <select id="getStatusType" resultType="String">
        select status_type from status_level where status_id=#{statusId}
    </select>

    <select id="getManagerByTeam" resultType="StaffInfo">
        select * from staff_info where team_id=#{teamId} and status_id!=106 and status_id!=107
    </select>
    
    <select id="getTeamMembers" resultType="StaffInfo">
        select * from staff_Info
        where user_id!=#{staffId} and team_id=#{teamId}
    </select>

    <select id="StaffInfoList" resultType="StaffInfo">
        select * from staff_Info where ( status_id=106 or status_id=107 ) and team_id is null
    </select>

    <select id="showTeamWorkers" resultType="StaffInfo">
        select * from staff_Info where ( status_id=106 or status_id=107 ) and team_id =#{teamId}
    </select>

    <select id="getStatusId" resultType="int">
        select status_id from staff_info where user_id=#{userId}
    </select>

    <select id="ManagerInfoList" resultType="StaffInfo">
        select * from staff_info where status_id=#{statusId}
    </select>

    <select id="AddTeamWorker">
        update staff_info set team_id=#{teamId} where user_id=#{userId}
    </select>

    <select id="getTeamIdbyId" resultType="int">
        select team_id from staff_info where user_id=#{userId}
    </select>

    <select id="deleteteamworkers">
        update staff_info set team_id=null where user_id=#{userId}
    </select>
</mapper>