<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lclgl.dao.StatusLevelMapper">

    <select id="getStatusLevels" resultType="StatusLevel">
        select * from status_level
    </select>

    <select id="getStatusLevelById" resultType="StatusLevel">
        select * from status_level where status_id=#{id}
    </select>

</mapper>